<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uas_10118362_shendi">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    /* Tanggal pengerjaan : Sabtu 14 Agustus 2021
    NIM : 10118362
    NAMA : Shendi Rakhma Diansyah
    Kelas : IF-9*/
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UAS_10118362"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uas_10118362_Shendi">
        <activity android:name="MainView"/>
        <activity
            android:name="MainActivity"
            android:label="Shendi Rakhma Diansyah"
            android:theme="@style/Theme.Uas_10118362_Shendi.NoActionBar" />
        <activity android:name="EditActivity" />
        <activity android:name="AddActivity" />

        <uses-library android:name="org.apache.http.legacy" android:required="false" />"
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"/>

        <activity android:name="SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>